@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using DAL_DataAccessLayer.Entities;
@model TourViewModel

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<div style="margin-top:60px;">
    <div class="row" style="display:flex;">
        <div class="card col-xl-3">
            <h3 class="card-title text-center">Thông tin tour</h3>
            <div class="card-body">
                <form class="table table-striped" asp-controller="Tours" asp-action="Edit" method="post">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>Mã Tour</label>
                            <input type="text" value="@Model.tour!.maTour" asp-for="@Model.tour!.maTour" class="form-control" readonly />
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Tên Tour</label>
                            <input type="text" value="@Model.tour!.tenTour" asp-for="@Model.tour!.tenTour" class="form-control" />
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Tên Khách Sạn</label>
                            <input type="text" value="@Model.tour!.khachSan" asp-for="@Model.tour!.khachSan" class="form-control" />
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Đặc Điểm</label>
                            <input type="text" value="@Model.tour!.dacDiem" asp-for="@Model.tour!.dacDiem" class="form-control" />
                        </div>
                        <div class="form-group col-lg-12">
                            <select class="selectpicker form-control" asp-for="@Model.tour!.maLoaiHinh" data-selected-text-format="value"
                                    asp-items=@(new SelectList(ViewBag.DSLoaiHinh,"maLoaiHinh","tenLoaiHinh"))>
                            </select>
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Nội Dung</label>
                            <textarea class="form-control" asp-for="@Model.tour!.noiDungTour"  value="@Model.tour!.noiDungTour" cols="10"
                                      rows="5"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <button class="btn btn-lg btn-block btn-warning">Cập Nhật</button>
                        </div>

                    </div>
                </form>
            </div>
            
        </div>

        <div class="col col-xl-9">
            <button class="btn btn-xl btn-success" data-toggle="modal" data-target="#modalGiaTour">Thêm Giá Tour</button>
            <table class="table table-bordered">
                <thead class="thread bg-success" style="color:aliceblue;">
                    <tr>
                        <th>Ngày Khởi Hành</th>
                        <th>Ngày Kết Thúc</th>
                        <th> Giá Tiền</th>
                       
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.tour!.GiaTours)
                    {
                        <tr>
                            <td> @item.ngayKhoiHanh</td>
                            <td>@item.ngayKetThuc</td>
                            <td>
                                @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.thanhTien);
                            </td>
                            <td style="width:  5%">
                                <a href='@Url.Action("DeleteGiaTour", "Tours",new { id=Model.tour.maTour, maGiaTour = item.maGiaTour})'>
                                    <input type='button' class="btn btn-danger" value="Xóa" />
                                </a>
                            
                        </tr>
                    }
                </tbody>
            </table>
            <hr />
            <button class="btn btn-success btn-xl" data-toggle="modal" data-target="#modalDiaDiem">Thêm Địa Điểm</button>
            <table class="table table-bordered">
                <thead class="thread bg-success" style="color:aliceblue;">
                    <tr>
                        <th>Tên Địa Điểm</th>
                        <th>Thứ tự tham quan</th>
                        <th>Điều Khiển</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.tour.ThamQuans)
                    {
                        <tr>
                            <td> @item.DiaDiem.tenDiaDiem</td>
                           
                            <td> @item.thuTuThamQuan</td>
                            <td style="width:  26%">
                               
                                <a href='@Url.Action("Up", "Tours",new { id=Model.tour.maTour, thuTu=item.thuTuThamQuan})'>
                                    <input type='button' class="btn btn-primary" value="Di chuyển lên" />
                                </a>
                                <a href='@Url.Action("Down", "Tours",new { id=Model.tour.maTour, thuTu=item.thuTuThamQuan})'>
                                    <input type='button' class="btn btn-warning" value="Di chuyển xuống" />
                                </a>
                              
                                <a href='@Url.Action("DeleteDiaChi", "Tours",new { id=Model.tour.maTour, maDiaDiem = item.maDiaDiem})'>
                                    <input type='button' class="btn btn-danger" value="Xóa" />
                                </a>

                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalDiaDiem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Địa Điểm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Tours" asp-action="ThemDiaDiem" method="post">
                    <div class="col col-xl-6 form-group" hidden>
                        <label for="tenTour">Tên Tour</label>
                        <input type="text" asp-for="tour!.maTour" class="form-control" hi />
                    </div>
                    <div class="form-group">

                        <select class="selectpicker form-control" data-selected-text-format="value" asp-for="@Model.MaDiaDiem"
                                asp-items=@(new SelectList(ViewBag.DSDiaDiem,"maDiaDiem","tenDiaDiem"))>
                        </select>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </form>
               
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalGiaTour" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Địa Điểm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Tours" asp-action="ThemGiaTour" method="post">
                    <div class="row">
                        <div class="col col-xl-6 form-group" hidden>
                            <label for="tenTour">Tên Tour</label>
                            <input type="text" asp-for="tour!.maTour" class="form-control" hi />
                        </div>
                        <div class="col col-lg-6">
                            <div class="form-group">
                                <label for="ngayKhoiHanh">Ngày Khởi Hành</label>
                                <input type="date" asp-for="giaTour!.ngayKhoiHanh" class="form-control" />
                            </div>
                        </div>
                        <div class="col col-lg-6">
                            <div class="form-group">
                                <label for="ngayKetThuc">Ngày Kết Thúc</label>
                                <input type="date" asp-for="giaTour!.ngayKetThuc" class="form-control" />
                            </div>
                        </div>
                        <div class="col col-lg-12">
                            <div class="form-group">
                                <label for="giaTien">Giá Tiền</label>
                                <input type="number" asp-for="giaTour!.thanhTien" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </form>
                
            </div>

        </div>
      
    </div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $("#click").click(function () {
        $("#datepicker").datepicker({
            format: 'dd-mm-yy'
        });
    });
</script>