@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WEBApplication.Models.DoanViewModel

<h2 class="text-center">Cập Nhật Thông Tin Đoàn</h2>
<div class="row">
    <div class="col col-xl-4"></div>
    <div class="col col-xl-4">
        <form asp-controller="Doan" asp-action="UpdateDoan" class="table table-striped" method="post" id="edit">
            <div class="row">
                <div class="col form-group col-lg-12">
                    <label></label>
                    <input type="text" asp-for="@Model.doans!.maDoan" class="form-control" hidden />
                </div>
                <div class="col form-group col-lg-12">
                    <label>Ngày Bắt Đầu</label>
                    <input type="date" asp-for="@Model.doans!.ngayKhoiHanh" class="form-control" id="startDate"/>
                </div>
                <div class="col form-group col-lg-12">
                    <label>Ngày Kết Thúc</label>
                    <input type="date" asp-for="@Model.doans!.ngayKetThuc" class="form-control" id="endDate"/>
                </div>
                <div class="col col-lg-12 form-group">
                    <label>Mã Tour</label>
                    <select id="maTour" class="selectpicker form-control" asp-for="@Model.doans!.maTour" data-selected-text-format="value"
                            asp-items=@(new SelectList(ViewBag.dsTour, "maTour","maTour"))>
                    </select>
                </div>
                <div class="col form-group col-lg-12">
                    <label>Doanh Thu</label>
                    <input type="number" asp-for="@Model.doans!.doanhThu" class="form-control" id="dthu" disabled/>
                </div>
                <div class="form-group col-lg-12">
                    <button class="btn btn-lg btn-block btn-success" type="submit" style="color:aliceblue;">Lưu</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col col-xl-4"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#edit').submit(function () {
            var startDate = new Date($('#startDate').val());
            var endDate = new Date($('#endDate').val());
            var dthu = $('#dthu').val();

            if (endDate <= startDate) {
                alert("NGÀY KẾT THÚC PHẢI LỚN HƠN NGÀY KHỞI HÀNH");
                return (false);
            }
        });
    });
</script>