@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "TK Nhân Viên";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@model WEBApplication.Models.ThongKeModel;

<h1 class="text-center">THỐNG KÊ SỐ LẦN ĐI TOUR CỦA NHÂN VIÊN</h1>
<div class="row">

<!------------ Bảng bên trái------------------>
    <div class="col col-xl-4 pt-xl-5">
        <div class="card">
            <form method="get" class="card-body">
                <div class="row">

                    <div class="form-group col-xl-9">                                                 
                        <label>Ngày khởi hành</label>
                        <input type="date" class="form-control" asp-for="startDateTKNV" id="startDate"/>                        
                    </div>
                    <div class="form-group col-xl-9">                                                 
                        <label>Ngày kết thúc</label>
                        <input type="date" class="form-control" asp-for="endDateTKNV" id="endDate"/>                      
                    </div>                   
                    <div class="col-xl-9 text-center">
                        <button class="btn btn-lg btn-block btn-primary" type="submit" id="btnTKNV" style="color:aliceblue;">
                            THỐNG KÊ
                        </button>
                    </div>
                </div>               
            </form>
            
        </div>
    </div>

<!------------ Bảng bên phải------------------>
    <div class="col col-xl-8 pt-xl-5">
            <table class="table table-bordered table-striped">
            <thead class="thead bg-success text-center" style="color:aliceblue;">
                <tr>
                    <th>Mã nhân viên</th>
                    <th>Tên nhân viên</th>
                    <th>Số lần đi tour</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ketQuaTKNV in Model.listKetQuaTKNV) 
                {
                <tr>
                    <td>@ketQuaTKNV.MaNV</td>
                    <td>@ketQuaTKNV.TenNV</td>
                    <td>@ketQuaTKNV.SoLuong</td>
                </tr>
                }
            </tbody>
            </table>
            <div id="container" style="margin-left: 10px">
                <p></p>
                <p></p>
                <div class="pagination" style="margin-left: 400px">
                    Page @(Model.listKetQuaTKNV.PageCount < Model.listKetQuaTKNV.PageNumber ? 0 : Model.listKetQuaTKNV.PageNumber)
                    of @Model.listKetQuaTKNV.PageCount
                    <span class="clearfix"> @Html.PagedListPager(Model.listKetQuaTKNV, page => Url.Action("TK_NhanVien", new { page }))</span>
                </div>
            </div>
    </div>
    
</div>